* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    min-height: 34rem;
    min-width: 26rem;
    margin-top: 1.875rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 20rem;
}

.instagram-logo {
    height: 3.5rem;
    width: 50%;
    margin-top: 2.25rem;
    margin-bottom: 2.5rem;
}

input {
    width: 20rem;
    height: 3rem;
    background-color: #FAFAFA;
    border-color: rgba(142, 142, 142, 0.1);
    border-radius: 2px;
    border-width: 1px;
    margin-bottom: 5px;
}

input::placeholder {
    font-size: 1rem;
    color: rgba(142, 142, 142);
    margin-left: 5px;
    padding: 5px;
}

.instagram-login {
    background-color: #0095f6;
    height: 2.5rem;
    width: 20rem;
    border-radius: 5px;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.instagram-login a {
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.2rem;
}

.decoration h3 {
    color: #8e8e8e;
    display: flex;
    align-items: center;
    margin: 0.8rem;
}

.decoration h3::after{
    content: "";
    background-color: rgba(142, 142, 142, 0.3);
    height: 2px;
    width: 7.7rem;
    position: relative;
    margin-left: 1.5rem;
}

.decoration h3::before{
    content: "";
    background-color: rgba(142, 142, 142, 0.3);
    height: 2px;
    width: 7.7rem;
    position: relative;
    margin-right: 1.5rem;
}

.loginfacebook {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.loginfacebook img {
    width: 1.2em;
    margin-right: 5px;
}
.group p {
    color: #385185;
    font-weight: bold;
    font-size: 0.875rem;
}

.senha p {
    margin-top: 2rem;
}

.not-account {
    color: rgb(160, 160, 160);
    display: flex;
}

.not-account p,
.link-blue {
    font-size: 0.875rem;
    font-weight: 400;
}

.link-blue {
    margin-left: 5;
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.3rem;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}